/* ENCABEZADO */

.container {
	display: flex;
	justify-content: space-between;
	margin: 20px;
  }
  
  .categoria {
	padding: 10px;
	background-color: lightgray;
	cursor: pointer;
	border-radius: 5px;
  }
  
  .texto {
	display: none;
	padding: 10px;
	background-color: lightgray;
	margin: 20px;
	border-radius: 5px;
  }
  
/* FIN ENCABEZADO */

/* anuncio carta */

.anunciocarta {

	margin: 20px;
	padding: 10px;
	text-align: justify;
	background-color: lightgray;
	border-radius: 5px;
  }

/* fin anuncio carta */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #b6b3b3;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	padding: 1em;
	text-align: center !important;
}

.contenedor {
	width: 1200px;
	margin: auto;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	text-align: center;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
  }

  #header {
	height: auto;
	width: 50%;
	line-height: 80px; 
	text-align: center;
	margin: auto;
	border-radius: 5px;
	background-color: rgb(211, 211, 211);
	position: relative;
	
  }

.contenedor-botones {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;

}

.boton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width:60%;
	height: 80px;
	background: #6e6d6d;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;

}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;	
}

.perf { 
    margin: 25px; 
	border-radius: 80%; 
}

* {
    opacity: 0;
    transition: all 2s ease-in-out;
    animation: fadeIn 2s ease-in-out;
    animation-fill-mode: forwards;
}

/* PRUEBA FOTO */
#texto {
	width: 150px;
	height: 150px;
	background-color: rgb(255, 255, 255); 
	position: relative;
	cursor: pointer;
	border: 3px solid black; 
	margin: auto;
	vertical-align: center;
	text-align: center;
	
}
 
  #perfil {
	display: none;
	margin: auto;
	transition: all 0.5s ease-in-out;
  }
  
  #cuadrado-blanco:hover #perfil {
	display: block;
  }
  
/*FIN FOTO*/ 

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#experiencia {
	width: 40%;
	float: left;
	margin-left: 5%;
  }
  #habilidades {
	width: 40%;
	float: right;
	margin-left: 5%;	
  }

.experiencia ul {
	margin-top: 0;
  }
  .experiencia ul li {
	list-style: none;
	padding: 10px;
	background: #3F648A;
	color: #fff;
	margin-bottom: 5px;
  }
  #habilidades h3 {
	margin-bottom: 10px;
  }
  #habilidades ul {
	margin-top: 0;
  }
  #habilidades ul li {
	list-style: none;
	padding: 10px;
	background: #3F648A;
	color: #fff;
	margin-bottom: 5px;
	border-radius: 5px;
}


#pie {
	text-align: center;
	vertical-align: middle;
	padding: auto;
	background: #93ABC1;
  }

  /* PRUEBA CARTA */
  #card {
	background-color: rgb(219, 217, 217);
	border: 1px solid black;
	padding: 10px;
	margin: 20px;
}
/* FIN PRUEBA CARTA */

